@import url(/assets/colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 150px;
    background: var(--white);
}

.navigation {
    position: relative;
    top: 50px;
    width: 100%;
    height: 70px;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}


.navigation ul {
    display: flex;
    width: 100%;
}

.navigation ul li {
    display: flex;
    list-style: none;
    width: 25%;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--black)
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--black);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -60%;
    width: 25%;
    /* Esto alinea con el <li> */
    height: 0px;
    /* no necesitamos altura visible aquí */
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;

    /* evita clics sobre el indicador */
}

.indicator::after {
    content: "";
    width: 70px;
    height: 70px;
    background: var(--teal);
    border-radius: 50%;
    border: 6px solid var(--white);
    position: relative;
    z-index: 1;
}





.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(100% * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(100% * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(100% * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(100% * 3));
}


.container {
    padding: 1px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: var(--white);
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    background-color: var(--teal);
    border-radius: 24px;
}

.image {
    position: relative;
    height: 150px;
    border-radius: 50%;
    background-color: var(--teal);
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .mail {
    font-size: 15px;
    font-weight: 200;
}

.text-data .phone {
    font-size: 15px;
    font-weight: 200;
}

.profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.profile-card .button {
    color: var(white);
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: var(--teal);
    cursor: pointer;
    transition: all 0.5s ease;
}

