@import url(/assets/colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 150px;
    background: var(--white);
}

.navigation {
    position: relative;
    top: 50px;
    width: 100%;
    height: 70px;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}


.navigation ul {
    display: flex;
    width: 100%;
}

.navigation ul li {
    display: flex;
    list-style: none;
    width: 25%;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--black)
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--black);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -60%;
    width: 25%;
    /* Esto alinea con el <li> */
    height: 0px;
    /* no necesitamos altura visible aquí */
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;

    /* evita clics sobre el indicador */
}

.indicator::after {
    content: "";
    width: 70px;
    height: 70px;
    background: var(--teal);
    border-radius: 50%;
    border: 6px solid var(--white);
    position: relative;
    z-index: 1;
}





.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(100% * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(100% * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(100% * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(100% * 3));
}




.container {
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
}

.citas_agendadas {
    background-color: var(--teal);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-cita {
    list-style: none;
    background-color: var(--teal);
    padding: 20px;
}

.menu-cita li {
    position: relative;
    display: inline-block;
}

.menu-cita li:hover ul {
    display: block;
}

.menu-cita ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--cream);
}

.menu-cita ul li a {
    display: block;
    padding:10px;
    text-decoration: none;
    color: var(--black);
}

.menu-cita ul li a:hover {
    background-color: var(--red);
}

.menu-cita li a {
    text-decoration: none;
    padding: 10px;
}